#Theoretical Questions

**Q.1 What are the data structure and why are they important?**
- Ans. A data structure is a specialized format for organizing, managing and storing data efficiently.
- It defines the relationship between data elements and provides methods for accessing and modifying data.
- It also ensures better performance in computing operations.

Data structure play a crucial role in today's world.
- Efficiently organize data for quick access.
- It improves the speed and stability of applications.
- Efficient memory usuage.
- It is used in real world application like cyber security, hospital, weather forecasting department etc.
- It make code more structured, organized and reusuable.

**Q.2 Explain the difference between mutable and immutable data types with examples.**
- Mutable data types are the data types which can be modified/edited.
e.g; List, Dictionary, Sets.
-Immutable data types are thhose that cannot be modified/changed after creation.
e.g; Srings, tuples, boolean etc.

**Q.3 What are the main difference between lists and tuples in python?**
- **List** is mutable in nature i.e; it can be modified after being created.
- List is created using square brackets [].
- It is slower due to mutability and  takes more memory.
- It is used when the data needs to modified time to time.
-**Tuple** is immutable in nature i.e; it cant be modified once created.
- Tuple is created using parentheses ().
- It is generally faster due in immuatability and takes less memory.
-It is used when the data should remain constant. Example- PAN card no, Bank account number etc.

**Q.4 Describe how dictionaries store data.**
- Dictionaries in python store data as key-value pairs using hash table implementation. This allows for fast lookups, insertions and deletions with an average time complexity of O(1).

**Q.5 Why might you use a set instead of a list in python?**
- Set is used instead of a list when there is a need of uniqueness in elements.
- Sets provide optimized mathematical operations like union, intersection and difference.
- Sets use less memory than lists as it contains unique value.

**Q.6 What is a string in Python and how is it different from a list?**
- String is a sequence of characters enclosed in quotes '', " "..
- It is immutable but replacement of substring is possible.
- It also supports indexing as well as slicing.
- *Difference between Strings and lists:-*
- List is a collection of elements, it may contain number, strings, objects etc while string is sequence of characters.
- List is mutable and string is immutable.
- List can store multiple data type like float, interger, complex no. etc. but string can only store character.

**Q.7 How do tuples ensure data integrity in python?**
- Tuples ensure data integrity by its faetures like immutability, hashability.
- Tuples are safe to use in multi-threaded program.
- They are used in different real-life situations in which data must remain constant like aeronautical data, weather forecasting data, Aadhar card no. etc.

**Q.8 What is hashtable, and how does it related to dictionaries in python?**
- Hastable is data structure that stores key-value pairs.
- It uses hash functions to compute indices.
- Keys must be hashable i.e; immutable types like strings, numbers, tuples etc.


- Python dictionaries use a hash table for fast lookups.
- The keys are stored along with their values for quick access.
- If a key's hash changes, correct data value is impossible to retrieve.

**Q.9 Can list contain different data types in Python?**
- Yes, List can contain different data types like integer, floats, boolean, strings, complex no. etc.
- Lists are heterogenous.

**Q.10 Explain why strings are immutable in python?**
- Strings are immutable in python because they cant be changed/ modified after being created.
- Python stores the same string value at a single memory location.
- Less memory usuage.
- Strings ensures security of data as it prevents unintended modifications.

**Q.11 What advantages do dictionaries offer over lists for ceratin tasks?**
- For ceratin tasks , dictionaries provide more advantages than lists such as-
- Dictionaries provide O(1) look up using keys. Dictionaries are faster than lists.
- It allows more flexible and meaningful dtaa retrieval.
- Dictionary ensure uniqueness of data and can be easily updated.

**Q.12 Describe a scenario where using a tuple whould be preferable over a list.**
- A tuple is preferable over a list in the situation where the data should remain constant for security and safety purposes.
- Example- Bank account number, any modification in that may lead to problem.

**Q.13 How do sets handles duplicate values in Python?**
- Sets automatically remove the duplicate elements.
- Set contain only unique elements and it is great for filtering out rebundant data efficiency.

**Q.14 How does the "in" keywords work differently for lists and dictionaries?**
- In list, "in" is used for checking if the element is present or not.
- In dictionaries, "in" is used for checking the keys (not values). For checking values , ".values()" is used.

**Q.15 Can you modify the elements of a tuple? Explain why or why not.**
- The elements of a tuple cannot be modfied, as tuple in immutable.
- But, if there is a mutable element like list is present inside a tuple that can be modified.

**Q.16 What is a nested dictionary,and give an example of its use case?**
- A nested dictionary in Python is a dictionary inside another dictionary. It allow to organize data hierarchically which makes it more suitable for representing complex data structures.

In [ ]:
#Example of nested dictionary
#A hospitable wants to store details of its doctors with their department, Experience, emergency contact no. and salary.


Doctors = {
    "D101": {
        "name": "Dr. Rani",
        "department": "Cardiology",
        "experience": "5 years",
        "emergency_contact": 232340,
        "salary": 50000 },

    "D102" : {
        "name": "Dr. Shiya",
        "department": "Gynaecology",
        "experience": "7 years",
        "emergency_contact": 232240,
        "salary": 70000 },

    "D103" : {
        "name": "Dr. Reeta",
        "department": "Pediatrics",
        "experience": "5 years",
        "emergency_contact": 222240,
        "salary": 55000 },
    }
print(Doctors["D103"])

{'name': 'Dr. Reeta', 'department': 'Pediatrics', 'experience': '5 years', 'emergency_contact': 222240, 'salary': 55000}

**Q.17 Describe the time complexity of accessing elements in a dictionary.**

- Python dictionary use hash tables internally and this allows for efficient data retrieval.
- In general, the access time is alomst instant i.e; O(1).
- But when the hash collision occur i.e; multiple key mapping to the same index; the dictionary needs rehashing. In such case, it takes time leading to O(n) complexity. It is rare.

**Q.18 In what situations are lists preferred over dictionaries?**
- In the following situations,lists are preferred over dictionaries-
- When the order of elements should be maintained.
- Lists are used in which duplicate elemtents are needed.
- Lists are used for small datasets.
- Lists are faster than dictionaries.

**Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries are considered unordered because they do not maintain the insertion order of key-value pairs (before Python 3.7).
- From Python 3.7, dictionaries maintain insertion order, but they do not support direct indexing like list.
- In dictionary, key is used to access the value (data).
- Iterating over a dictionary preserves the insertion order but after deleting and re-adding an element, its position changes.
- Sorting in dictionary is done manually.

**Q.20 Explain the difference between a list and a dictionary in terms of data retrieval**.
- In list,by indexing like (list[1]) data retrieval is possible.
- In dictionary, keys like (dict["key"]) are used for retrieval.
- List maintains order (sequence based) and dictionaries maintain insertion order, items are retrieved in the order they were added.

#Practical Questions

**Q.1 Write a code to create a string with your name and print it.**

In [ ]:
a = "Pushpita"
type(a)

str

In [ ]:
print(a)

Pushpita

**Q.2 Write a code to find the length of the string "Hello World."**

In [ ]:
a = "Hello World"
len(a)

11

**Q.3 Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
a = "Python Programming"
sliced_text = a[:3]
print(sliced_text)

Pyt

**Q.4 Write a code to convert the string "hello" to uppercase.**

In [ ]:
a = "hello"
uppercase_text = a.upper()
print(uppercase_text)

HELLO

**Q.5 Write a code to replace the word "apple" with "orange" in the sring "I like apple".**

In [ ]:
a = "I like apple."
b = a.replace("apple", "orange")
print(b)

I like orange.

**Q.6 Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
a = list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

**Q.7 Write a code to append the number 10 to the list [1,2,3,4].**

In [ ]:
a = [1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

**Q.8 Write a code to remove the number 3 from the list [1,2,3,4,5].**

In [ ]:
a = [1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

**Q.9 Write a code to access the second element in the list ['a','b','c','d'].**

In [ ]:
lst = ['a', 'b', 'c','d']
second_element = lst[1]
print(second_element)

b

**Q.10 Write a code to reverse the list [10,20,30,40,50].**

In [ ]:
num = [10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

**Q.11 Write a code to create to tuple with the elements 100,200, 300 and print it.**

In [ ]:
a = (100,200,300)
print(a)

(100, 200, 300)

**Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
c = ('red', 'green','blue','yellow')
new_tuple = c[-2]
print(new_tuple)

blue

**Q.13 Write a code to find the minimum number in the tuple (10,20,5,15).**

In [ ]:
a = (10,20,5,15)
min_number = min(a)
print(min_number)

5

**Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
b = ('dog', 'cat', 'rabbit')
index_of_cat = b.index('cat')
print(index_of_cat)

1

**Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
Fruit_list = ("Apple", "Orange", "Kiwi")
if "Kiwi" in Fruit_list:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is in the tuple

In [ ]:
Fruit_list = ("Apple", "Orange", "Banana")
if "Kiwi" in Fruit_list:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

**Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

**Q.17 Write a code to clear all elements from the set {1,2,3,4,5}.**

In [ ]:
Given_set = {1,2,3,4,5}
Given_set.clear()
print(Given_set)

set()

**Q.18 Write a code to remove the element 4 from the set {1,2,3,4}.**

In [ ]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

**Q.19 Write a code to find the union of two sets {1,2,3} and {3,4,5}.**

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}
union_set = set_a.union(set_b)
print(union_set)

{1, 2, 3, 4, 5}

**Q.20 Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.**

In [ ]:
set_r = {1,2,3}
set_s = {2,3,4}
intersection_set = set_r.intersection(set_s)
print(intersection_set)

{2, 3}

**Q.21 Write a code to create a dictionary with the keys "name", "age", and "city" and print it.**

In [ ]:
Details = {
    "Name": "Pushpita",
    "Age": 29,
    "City": "Tripura"}

print(Details)

{'Name': 'Pushpita', 'Age': 29, 'City': 'Tripura'}

**Q.22 Write a code to add a new key- value pair "country" : "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
Details = {"name" : 'John', 'age': 25}
Details["country"] = "USA"
print(Details)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q.23 Write a code to access the value associated with they key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
person = {'name': 'Alice', 'age': 30}
name = person['name']
print(name)

Alice

**Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age':22, 'city' : 'New York'}.**

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

**Q.25 Write a code to check if they key "city" exists in the dictionary {"name" : "Alice", "city": "Paris"}.**

In [ ]:
detail = { "name": "Alice", "city": "Paris"}
if "city" in detail:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

**Q.26 Write a code to create a list, a tuple and a dictionary and print them all.**

In [ ]:
my_list = ["Radha", "Krishna"]
my_tuple = ("Ram","Sita", "Laxman", "Hanuman")
my_dict = {"Prabhu": "Ram", "Mata": "Sita", "city": "Ayoddhya"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['Radha', 'Krishna']
Tuple: ('Ram', 'Sita', 'Laxman', 'Hanuman')
Dictionary: {'Prabhu': 'Ram', 'Mata': 'Sita', 'city': 'Ayoddhya'}

**Q.27 Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascenind order, and print the result.**

In [ ]:
my_num = [12,88,17,34,55]
my_num.sort()
print(my_num)

[12, 17, 34, 55, 88]

**Q.28 Write a code to create a list with strings and print the elements at the third index.**

In [ ]:
my_list = ["Krishna", "Ram", "Sita", "Shiva", "Hanuman"]
third_element = my_list[3]
print(third_element)

Shiva

**Q.29 Write a code to combine two dictionaries into one and print the result.**

In [ ]:
dict1= {"name": "Pushpita", "age": 29}
dict2 = {"state": "Tripura", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Pushpita', 'age': 29, 'state': 'Tripura', 'country': 'India'}

**Q.30 Write a code to convert a list of strings into a set.**

In [ ]:
s_list = ["beauty", "honesty", "charity", "beauty", "honesty"]
s_set = set(s_list)

print(s_set)

{'charity', 'beauty', 'honesty'}